In [ ]:
import pandas as pd

In [ ]:
import pandas as pd
dict1 ={'Name':['Priyang','Aadhya','Krisha','Vedant','Parshv',
                'Mittal','Archana'],
                'Marks':[98,89,99,87,90,83,99],
                'Gender':['Male','Female','Female','Male','Male',
                         'Female','Female']
               }
df1=pd.DataFrame(dict1)
df1

### 1.Display Top 3 Rows of The Dataset

In [ ]:
df1.head(3)

### 2. Check Last 3 Rows of The Dataset

In [ ]:

df1.tail(3)

### 3. Find Shape of Our Dataset (Number of Rows & Number of Columns)

In [ ]:
print("number of rows is",df1.shape[0])
print("number of columns is",df1.shape[1])

### 4. Get Information About Our Dataset Like Total Number Rows, Total Number of Columns, Datatypes of Each Column And Memory Requirement

In [ ]:
df1.info()

### 5.Check Null Values In The Dataset

In [ ]:
df1.isnull().sum()

### 6. Get Overall Statistics About The Dataframe

In [ ]:
df1.describe()

### 7.Find Unique Values From The Gender Column

In [ ]:
df1["Gender"].unique()

### 8. Find the Number of Unique values from the Gender column

In [ ]:
df1["Gender"].nunique()

### 9. Display Count of Unique Values In Gender Column

In [ ]:
df1["Gender"].value_counts()

### 10. Find Total Number of Students Having Marks Between 90 To 100 (Inclusive) Using Between Method

In [ ]:
sum(df1["Marks"].between(90,100))

### 11. Find Average Marks

In [ ]:
df1["Marks"].mean()

### 17. Display Name & Marks of The Female Students

In [ ]:
df1[df1["Gender"]=="Female"]

### 16. Sort The Dataframe As Per The Marks Column

In [ ]:
df1.sort_values("Marks")

### 15. Print Name of the Columns

In [ ]:
df1.columns

### 14. Drop the Column Gender

In [ ]:
df1.drop(columns="Gender",inplace=True)